.bookings-container {
  display: flex;
  flex-wrap: wrap;
}
.bookings-card {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 16px;
  position:relative;
}

.btn-green {
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  background: #3FC1C9;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bookings-card .btn-delete {
  position: absolute;
  right: 20px;
  bottom: 10px;
  text-decoration: none;
}

.bookings-container {
  display: flex;
  flex: wrap;
}

.booking-card {
  margin-right: 20px;
}

// .booking-card .btn-green {
//   color: white;
//   font-weight: bold;
//   font-size: 14px;
//   text-decoration: none;
//   background: #3FC1C9;
//   border-radius: 5px;
//   padding: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

.booking-card a {
  font-size: 14px;
}
