.super-book-container {
  display: flex;
  justify-content: center;
  background-image: url('bubbs.png');
}

.book-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 800px;
  margin: 15px;
  padding: 17px;
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.book-container p {
   margin: 20px
}
