.louise-container {
  max-width: 1000px;
  margin: 40px auto;
  color: #575757;
}

.louise-container input[type="submit" i] {
  color: white;
  font-size: 14px;
  text-decoration: none;
  background: #3FC1C9;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}
