.super-user-container {
  background-image: url('bubbs.png');
}

.about-me-card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 16px;
  position:relative;
}

.about-me-card img {
  border-radius: 20px;
}

.user-profile-about-me-text {
  padding: 20px;
}

.about-me-card a {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.user-profile-pet-card {
  width: 250px;
  height: 250px;
  // display: flex;
  margin: 10px 20px 10px 0px;
  justify-content: center;
  align-items: center;
  background-color: #FC5185;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10%;
  padding: 20px;
}

.user-profile-pet-card img {
  border-radius: 10%;
}

.user-profile-pet-card a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  background: #3FC1C9;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.pet-btn {
  padding: 10px;
}

.pet-btn .btn-green-light-fontweight {
  padding: 13px;
  background-color: #FC5185;
}

.pet-block {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.pet-block h2 {
  padding: 5px;
}
