// home back topbanner
.home-page-banner-container{
  height: 200px;
}
.home-page-banner {
  // background-image: url("pets banner.jpeg");
  background-size: cover;
  height: 200px;
}

// pet show page bottom banner

.pet-page-banner-container{
  height: 100px;
}
.pet-page-banner {
  background-image: url("dogbottombanner.png");
  background-size: cover;
  height: 200px;
}

// booking page bottom banner

.booking-page-banner-container{
  height: 100px;
}
.booking-page-banner {
  background-image: url("happy dog bottom banner.png");
  background-size: cover;
  height: 200px;
}

// booking page bottom banner

.new-booking-page-banner-container{
  height: 100px;
}
.new-booking-page-banner {
  background-image: url("dogglassesbanner.png");
  background-size: cover;
  height: 200px;
}


// edit booking page bottom banner

.edit-booking-page-banner-container{
  height: 100px;
}
.edit-booking-page-banner {
  background-image: url("Lizzard banner.png");
  background-size: cover;
  height: 200px;
}

// edit users page bottom banner

.edit-user-page-banner-container{
  height: 200px;
}
.edit-user-page-banner {
  background-image: url("dogwithbonebanner.png");
  background-size: cover;
  height: 250px;
}
