// home back topbanner
.home-page-banner-container{
  height: 200px;
}
.home-page-banner {
  background-image: url("pets banner.jpeg");
  background-size: cover;
  height: 200px;
}

// pet show page bottom banner

.pet-page-banner-container{
  height: 100px;
}
.pet-page-banner {
  background-image: url("dogbottombanner.png");
  background-size: cover;
  height: 200px;
}
