.btn-pink-light-fontweight {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    background: #FC5185;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }


.btn-pink-bold-fontweight {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background: #FC5185;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .btn-green {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    background: #3FC1C9;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }


  .btn-green-light-fontweight {
      color: white;
      font-size: 14px;
      text-decoration: none;
      background: #3FC1C9;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
