// overall page container
.container {
  margin: 0px auto auto auto;
  max-width: 1000px;
}


// banner
.home-page-banner-container{
  height: 200px;
}
.home-page-banner {
  background-image: url("pets banner.png");
  background-size: cover;
  height: 200px;
}

// intro line
.intro-description-h2 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  color: #FC5185;
  width: 500px;
}

// location search card
.location-search-card-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  align-content: center;
  margin: 10px 10px 20px 10px;
}

.location-search-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-button{
  display: flex;
  color: white
}
// map and profile overall container
.card-location-container {
  background-color: white;
  display: flex;
  margin: 10px 10px 20px 10px;
  border-radius: 10px;
}

// map container
.card-map-container {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

// animal search card
.animal-search-card-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;
}

.animal-search-card-h2 {
  margin: 10px 0px 0px 10px;
  font-size: 24px;
  color: #575757;
}

.animal-search-card-button-container {
  border-radius: 10px;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
}

.animal-search-card {
  position: absolute;
  transform: scale(0);
}

.animal-search-card + label {
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FC5185;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10%;
  padding: 20px;
}

.animal-search-card + label img {
  width: 60px;
  height: 60px;
}

.animal-search-card:checked + label {
  background-color: #fb0b53;
}


// sitter card profiles
.card-profile-container {
  justify-content: space-between;
  margin: 10px 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-profile {
  background-size: cover;
  width: 150px;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3FC1C9;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10%;
  padding: 20px;
}

.card-profile a {
  text-decoration: none;
  color: white
}

.card-profile img {
  width: 20px;
  height: 20px;
}

.card-profile p {
  text-decoration: none;
  color: white;
  font-size: 16px
}

.card-profile .profile-location {
  display: flex
}
